/*
	(Theme) Combustion for Drupal v5
	
	Theme authored by Phobos Gekko
	<phobos@redfyre.net>
	
	Gekko's Lair of Fire
	http://phobos.redfyre.net
	
	Ported to Drupal 5.0 by ThemeBot
	http://themebot.com
	
	It would be appreciated if you leave the credits in.  They are very unintrusive :)
*/

/* [Main images and tables] */
body {
	background-image: url(combustion_background.gif);
	font-family: Arial, Helvetica, sans-serif;
}
#wrapper { margin-right: auto; margin-left: auto; }
.primary-container {
	/* This is to make sure that all the primary content fits
	properly in the whitespace. Sorry for all the code, but IE
	is a PITA compared to Firefox and other browsers */
	margin: 0; width: 480px; padding: 10px 20px 20px 40px; }
.container-inline {
	margin-top: 10px;
	margin-bottom: 10px;
}
.header_img { background-image: url(combustion_header.jpg); background-repeat: no-repeat; height: 150px; width: 765px; padding: 0; margin: 0; }
.footer_img { background-image: url(combustion_footer.jpg); background-repeat: no-repeat; height: 60px; width: 765px; margin: 0; padding: 0; }
.footer {
	text-align: center;
	font-size: x-small;
}
.main-content {
	background-image: url(combustion_content_left.gif);
	background-repeat: repeat-y;
	margin: 0px;
	padding: 0px;
	width: 541px;
	vertical-align: top;
}
.navbar {
	background-image: url(combustion_primary_navbar.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	height: 37px;
	width: 765px;
	text-align: center;
}
.primarylinks a:link, .primarylinks a:visited, .primarylinks a:hover {
	font-size: small;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

/* [Blocks] */
/* Background for the blocks */
.sidebar {
	background-image: url(combustion_content_right.gif);
	background-repeat: repeat-y;
	padding: 0px;
	margin: 0px;
	width: 224px;
	height: auto;
	vertical-align: top;
}
/* This affects the position of each block on the sidebar table */
.block {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
}
/* The header */
.block_header {
	background-image: url(combustion_blocks_header.gif);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0 0 0 44px;
	height: 30px;
	width: 200px;
	color: #f2f2f2;
	text-align: left;
	font-size: small;
	font-weight: bold;
}
/* Background for the content inside each block */
.block_content_background {
	background-image: url(combustion_blocks_middle.gif);
	background-repeat: repeat-y;
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 200px;
}
/* Code affecting the display of the content in each block */
.block_content {
	font-size: small;
	text-align: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
}
.block form { text-align: center; float: left; }
/* Footer */
.block_footer {
	background-image: url(combustion_blocks_footer.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 200px;
	margin: 0px;
	padding: 0px;
}

/* [Nodes] */
h2 {
	margin-bottom: 0px;
	font-size: medium;
	margin-top: 0px;
}
.page-title {
	padding: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.node {
	text-align: justify;
	margin-bottom: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.info {
	font-size: x-small;
	text-align: left;
}
.content {
	font-size: small;
}
.links { font-size: small; text-align: center; }
.links li { font-size: small; text-align: center; border-right: 1px solid black; }
.links .first { font-size: small; text-align: center; border-left: 1px solid #000;}
/* [Comments] */
.comment {
	background-color: #F6F6F6;
	padding: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.comment_content {
	margin: 0px;
	padding: 5px;
}
.new {
	font-style: italic;
}
.title {
	text-align: center;
	font-weight: bold;
	background-color: #F1F1F1;
	font-size: small;
}
.comment_picture {
	padding: 5px;
	margin: 0px;
}
.picture {
	margin: 0px;
	padding: 0px;
	text-align: right;
}
.author {
	font-size: small;
}
.comment_date {
	font-size: x-small;
}
.comment_info {
	vertical-align: top;
}

/* [Forums] */
/* Table widths */
.forum {
	width: 100%;
}
.icon {
}
.topic, .created, .last-reply {
	width: 30%;
}
.replies {
	width: 10%;
}

/* [Other] */
.site-slogan {
	font-size: 16px;
	vertical-align: middle;
	margin-left: 75px;
}
tbody { font-size: small; border-style: none; }
code {
	font-size: small;
}
cite {
	font-size: small;
	font-style: italic;
}
.service_links {
	font-weight: bold;
	text-align: center;
}
.site-name { font-size: 36px; color: #000000; vertical-align: middle; font-weight: bolder; margin: 0 0 0 75px; padding: 0; }
.site-name h1 { color: #000000; font-size: 36px; font-weight: bolder; vertical-align: middle; }
.site-name a:link { color: #000000; font-size: 36px; font-weight: bolder; vertical-align: middle; }
.site-name a:visited { color: #000000; font-size: 36px; font-weight: bolder; vertical-align: middle; }
.site-name a:hover { color: red; font-size: 36px; font-weight: bolder; text-decoration: none; vertical-align: middle; }
h3 {
	font-size: medium;
	font-weight: bold;
	text-align: center;
}
a, h2 a:hover, h3 a:hover {
	text-decoration: none;
}
a:link, a:visited {
	color: #0066CC;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}
div.admin .left {
  float: left;
  width: 48%;
}
div.admin .right {
  float: right;
  width: 48%;
}
div.admin-panel {
  background: #fff url(../../../../../../../../Desktop/drupal-5.0-rc1/themes/garland/images/gradient-inner.png) repeat-x 0 0;
  padding: 1em 1em 1.5em;
}
div.admin-panel .description {
  margin-bottom: 1.5em;
}
div.admin-panel dl {
  margin: 0;
}
div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}
table.system-status-report th {
  border-color: #d3e7f4;
}
#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}
tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}
